<% content_for(:html_title) {@crew.name}%>
<div class="container">
  <div class="showitem">
    <div>
      <%= image_tag(@crew.image, alt: "Image of #{@crew.name}", class: "img-thumbnail") %>
    </div>
    <div>
      <h2><%= @crew.name %></h2>
      <p>Status - <%= @crew.status.split.map(&:capitalize).join(' ') %></p>
      <p>Wiki - <%= link_to @crew.wikilink, @crew.wikilink, target: "_blank" %> </p>
      <% unless @launches.empty? %>
      <p>Launches Done:</p>
        <ul>
          <% @launches.each do |c| %>
            <li><%= link_to c.name, launch_path(c.id) %> - <%= c.role %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

