<% content_for(:html_title) {@launchpad.name}%>
<div class="container">
  <diV class="row">
    <div class="col-lg-6">
      <div class="showimg">
        <% if @launchpad.image == nil %>
          <%= image_tag("launch.jpg", alt: "Default Launchpad Image", class: "img-thumbnail") %>
        <% else %>
          <%= image_tag(@launchpad.image, alt: "Image of #{@launchpad.name}", class: "img-thumbnail") %>
        <% end %>
        <%= image_tag("https://api.mapbox.com/styles/v1/mapbox/satellite-v9/static/pin-s+ff0000(#{@launchpad.longitude},#{@launchpad.latitude})/#{@launchpad.longitude},#{@launchpad.latitude},1,0/300x200?access_token=pk.eyJ1IjoiY2xhY2FuaWxhbyIsImEiOiJjbHNtNm5maW4wbGtsMmltdHJoeWQzajE3In0.C7Cky3n3ZpCYj7hPUWGhjg",
            alt: "Launchpad MapBox Location Image of #{@launchpad.name}",
            class: "img-thumbnail") %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="showinfo">
        <h2><%= @launchpad.name %></h2>
        <h5><i><%= @launchpad.fullname %></i></h5>
        <p><%= @launchpad.description %></p>
        <p>Status: <%= @launchpad.status.capitalize %></p>
        <p>Number of Launches: <%= @launchpad.numoflaunches %></p>
        <p>Latitude: <%= @launchpad.latitude%></p>
        <p>Longitude: <%= @launchpad.longitude%></p>
        <% unless @rockets.empty? %>
          <h3 class="title is-6">Rockets Launched</h3>
          <ul>
            <% @rockets.each do |c| %>
              <li><%= link_to c[1], rocket_path(c[0]) %> at <%= link_to c[3], launch_path(c[2]) %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </diV>
</div>
