<div class="container">
  <h1>Rockets</h1>
  <div class="row">
    <% @rockets.each do |rocket| %>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="item">
          <div class="img">
            <% if rocket.image == nil %>
              <%= image_tag("rocket.jpg", alt: "Default Rocket Image", class: "img-thumbnail rocketimg") %>
            <% else %>
              <%= image_tag(rocket.image, alt: "Image of #{rocket.name}", class: "img-thumbnail rocketimg") %>
            <% end %>
          </div>
          <h4><%= link_to rocket.name, rocket %></h4>
          <p>Cost Per Launch: $<%= number_with_delimiter(rocket.costperlaunch, :delimiter => ',')%> </p>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @rockets %>
</div>