<% content_for(:html_title) {@launch.name}%>
<div class="container">
  <div class="showitem">
    <div>
      <% if @launch.image == nil %>
        <%= image_tag("launch.jpg", alt: "Default Launch Image", class: "img-thumbnail") %>
      <% else %>
        <%= image_tag(@launch.image, alt: "Image of #{@launch.name}", class: "img-thumbnail")%>
      <% end %>
    </div>
    <div>
      <h2><%= @launch.name %></h2>
      <p><i><%= @launch.date %></i></p>
      <p>Rocket - <%= link_to @rocketname.first.name, rocket_path(@launch.rocket_id) %></p>
      <p>Launchpad - <%= link_to @launchpadname.first.name, launchpad_path(@launch.launchpad_id) %></p>
      <% unless @launch.success.nil? %>
        <% if @launch.success == "t"%>
        <p> The launch was successful </p>
        <% elsif @launch.success == "f" %>
        <p> The launch was unsuccessful </p>
        <% end %>
      <% else %>
        <p> Launch status is unknown </p>
      <% end %>
      <% unless @crews.empty? %>
        <p>Crew Members:</p>
        <ul>
          <% @crews.each do |c| %>
            <li><%= link_to c.name, crew_path(c.id) %> - <%= c.role %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
